@import '../../styles/styles';

.question {
  background-color: $color-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question-loading {
  background-color: $color-primary;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}