@import '../../styles/styles';

.button {
  height: 40px;
  width: 200px;
  background-color: $opacity-color;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  border: none;
  
  &:focus { outline: none; }
}