$color-primary: #1544E3;

$correct-color: #219653;
$wrong-color: #EB5757;
$timesup-color: #4F4F4F;
$opacity-color: rgba(0, 0, 0, 0.4);

$white-color: #fff;

$font-family-primary: 'Product Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, 'Helvetica Neue', sans-serif;
$font-weight-primary: normal;
$font-color-primary: $white-color;
